.passList {
    width: 100%;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.passesWrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
}

.Home {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    max-width: 100vw;
    width: 100%;

    h2 {
        font-weight: 600;
    }
}